*{
	margin:0;
	padding:0;
}
body{
	background-color:#958465;
}
.main{
	position:relative;
	width:950px;
	height:2500px;
	background-color:#fff;
	left:200px;
	top:0px;
}
img{
	width:400px;
	float:left;
	z-index:1;
	border-radius: 100px;
}
.img1{
	position:absolute;
	top:0px;
	left:50px;
}
.img2{
	position:absolute;
	top:0px;
	left:500px;
}
.img3{
	position:absolute;
	top:600px;
	left:50px;
}
.img4{
	position:absolute;
	top:600px;
	left:500px;
}
.img5{
	position:absolute;
	top:1200px;
	left:50px;
}
.img6{
	position:absolute;
	top:1200px;
	left:500px;
}
.img7{
	position:absolute;
	top:1800px;
	left:50px;
}
.img8{
	position:absolute;
	top:1800px;
	left:500px;
}
nav{
	position:absolute;
	height:50px;
	width:1349px;
	text-align:center;
	z-index:2;
}
nav li{
	list-style:none;
	display:inline;
	line-height:40px;
}
nav ul{
	margin-top:0px;
}
nav span{
	display:inline-block;
	width:100px;
	height:40px;
	background-color:#fff;
	font-family:"微软雅黑";
	font-size:18px;
	color:black;
	border-radius: 20px;
}
nav span:hover{
	background-color:black;
	color:#fff;
}
img:active{
	transform: scale(1.2);
	z-index:3;
}
h1{
	color:#fff;
	font-size:40px;
	margin-top:0px;
}
.hong1{
	position:absolute;
	top:2px;
	left:10px;
	z-index:4;
	animation: move 2s infinite;
}
.hong1 img{
	width:80px;
}
@-webkit-keyframes  move{
	0%{transform: rotatey(0deg);}
	100%{transform:rotatey(360deg);}
		
}
